<h1>フォローされている人一覧</h1>

<%= render @following_users %>
<%# following_usersはどのモデルに由来したものでしょうか？　%>
<%# 対応するビューは  apps/views/users/_user.html.erb %>


<%# @following_users.each do |following_user| %>
    <p><%#= following_user.name %></p>
<%# end %>